.DS_Store
Thumbs.db
*.log

# PHP-CS-Fixer
# code style fixer
.php_cs
.php_cs.cache
.php-cs-fixer.cache

# composer
composer.lock
/composer.phar
vendor

# PhpStorm / IDEA
.idea
.idea_modules

# composer vendor directory
/vendor
